DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_PORT=
DATABASE=todo

PORT=

SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

COUNTRY_API=https://dev-api-minibrands.zurutech.online/v1/countries

SCHEDULAR_EXPRESSION=*/5 * * * * *